@define-color background #1b242a;
@define-color foreground #e6ecf1;
@define-color black #2f3c45;
@define-color red #ed6677;
@define-color green #6ead47;
@define-color yellow #c68c2e;
@define-color blue #5a9bec;
@define-color magenta #c36ee7;
@define-color cyan #33acac;
@define-color white #b9c9d5;
@define-color brightBlack #596d7c;
@define-color brightRed #f58993;
@define-color brightGreen #7fc453;
@define-color brightYellow #dfa13e;
@define-color brightBlue #7cb1f5;
@define-color brightMagenta #d18fef;
@define-color brightCyan #3dc4c4;
@define-color brightWhite #f4f7f9;

* {
    font-family: "Inter Nerd Font";
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: transparent;
    /*    background-color: rgba(43, 48, 59, 0.5); */
    /*    border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
    /* padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px; */
    /* margin-top: 5px; */
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar.empty #window {
    background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: @black;
    border: 1px solid @white;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.modules-left {
    padding: 0px 5px 0px 0px;
    margin-left: 4px;
}

.modules-center {
    padding: 5px 5px 5px 5px;
}

.modules-right {
    padding: 0px 0px 0px 5px;
    margin-right: 4px;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* border-top: 2px solid #c9545d; */
}


#workspaces button {
    padding: 0 0 0 0;
    color: @green;
    /*    background-color: rgba(0,0,0,0.3); */
}


#workspaces button.focused {
    /*    box-shadow: inset 0 -2px #c9545d; */
    border-top: 2px solid @white;
    color: @white;
}

#workspaces button.active {
    /*    box-shadow: inset 0 -2px #c9545d; */
    border-top: 2px solid @white;
    color: @white;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @brightBlack;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#window,
#custom-swaync,
#custom-power,
#power-profiles-daemon,
#mpd {
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color: @white;
}

#window {
    color: @magenta;
}

#clock {
    color: @blue;
}

#custom-swaync {
    color: @yellow;
}

#custom-power {
    color: @red;
    font-size: 16;
    padding-top: 3;
    padding-right: 8;
}

#network {
    color: @cyan;
}

#pulseaudio {
    color: @blue;
}

#pulseaudio.muted {
  color: @red;
  font-size: 14;
}

#battery {
    color: @blue;
}

#temperature {
    color: @yellow;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery icon {
    color: red;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: @yellow;
}

#temperature.critical {
    background-color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

tooltip {
    background-color: transparent;
    border: none;
}

tooltip label {
    background-color: @black;
    color: @white;
    border-radius: 8px;
    border: 1px solid @white;
    font-size: 14px;
    /* margin: ##px; */
}

#power-profiles-daemon {
  font-size: 14px;
}

#power-profiles-daemon.performance {
  color: @red;
}

#power-profiles-daemon.balanced {
  color: @blue;
}

#power-profiles-daemon.power-saver {
  color: @green;
}


/*

  window#waybar.solo {
  background-color: #FFFFFF;
  }

  window#waybar.termite {
  background-color: #3F3F3F;
  }

  window#waybar.chromium {
  background-color: #000000;
  border: none;
  }
   */
/* #workspaces {
} */

/* #window {
    margin: 2;
    padding-left: 8;
    padding-right: 8;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: bold;
} */


/* #workspaces button:hover { */
/* } */


/* #clock { */
    /* font-weight: bold; */
/* } */


/* #idle_inhibitor.activated { */
    /* background-color: #ecf0f1; */
    /* color: #2d3436; */
/* } */
